// prefix none
@require '~@quasar/extras/material-icons/material-icons.css';
// prefix o_
// @require '~@quasar/extras/material-icons-outlined/material-icons-outlined.css';
// prefix r_
// @require '~@quasar/extras/material-icons-round/material-icons-round.css';
// prefix s_
// @require '~@quasar/extras/material-icons-sharp/material-icons-sharp.css';

// prefix ion-, ion-md-, ion-ios-, ion-logo-
// @require '~@quasar/extras/iconicons-v4/iconicons-v4.css';
// prefix fa[s,r,l,b], fa-
// @require '~@quasar/extras/fontawesome-v5/fontawesome-v5.css';
// prefix mdi-
// @require '~@quasar/extras/mdi-v4/mdi-v4.css';
// prefix eva-
// @require '~@quasar/extras/eva-icons/eva-icons.css';
// prefix ti-
// @require '~@quasar/extras/themify/themify.css';

@require '~@quasar/extras/roboto-font/roboto-font.css';
